<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="cgi-bin" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python34\python.exe %s %s" resourceType="Unspecified" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="dashboard.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
